<table class="table table-hover table-borderless">
    <thead class="bg-dark text-white">
        <tr>
          <th>Topic</th>
          <th>Duration</th>
        </tr> 
      </thead>   
      <br>
      <tbody>
          <tr *ngFor="let training of trainings, let i = index" 
              (mouseenter)="row = i"
              (mouseleave)="row = -1"
          >
            <td>{{ training.topic}}</td>
            <td>{{ training.duration}} 
              <span *ngIf="row == i">
                <button class="btn btn-sm btn-danger float float-right" (click)="deleteTraining(training)">x</button>
              </span>
            </td>
          </tr>
      </tbody> 
</table>